---
import { Badge, Icon } from '@astrojs/starlight/components';
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro';
import { type Documentation } from '../documentation'
import CodeCard from "../../CodeCard.astro";
import SyntaxBadge from "../SyntaxBadge.astro";
import type {DocumentableCardProps} from "./DocumentableCard.astro";
import { repositorySources } from '../../../pages/syntaxes/[...id].astro';

interface Props {
    defaultProps: DocumentableCardProps
    documentation: Documentation,
    [key: string]: any,
}

const { documentation, defaultProps, ...rest }: Props = Astro.props;
const { currentVersion, hide }: DocumentableCardProps = defaultProps;
const isNew = documentation.since && documentation.since.join().includes(currentVersion);
---

<section id=`card-${documentation.id}` class="documentation-card"
         data-syntax-type={documentation.type}
         data-syntax-id={documentation.id}
         data-syntax-name={documentation.name}
         data-syntax-since={documentation.since}
         data-syntax-keywords={documentation.keywords.length == 0 ? undefined : documentation.keywords}
         data-syntax-addon={documentation.origin.name}
         style={hide ? "display: none;" : ""}
         {...rest}
>
    <div class="row">
        <div class="col">
            <AnchorHeading level='3' id={documentation.id}>
                {documentation.name + " "}
                <Badge class="cb" size='large' text={documentation.type}/>
                {documentation.origin.name !== "Skript" && (
                        <Badge variant="caution" size='large' text={documentation.origin.name}/>
                )}
            </AnchorHeading>
            <div class="row">
                {isNew && (
                        <Badge variant="success" size='medium' text="New"/>
                )}
                {documentation.deprecated && (
                        <Badge variant="danger" size='medium' text="Deprecated"/>
                )}
                <slot name="header badges" />
                {documentation.requirements.length > 0 && (
                        <Badge class="sb" size='medium' text={"Requires " + documentation.requirements.join(", ")}/>
                )}
            </div>
            <p set:html={documentation.description}></p>
            <hr>
            {documentation.since.length > 0 && (
                    <SyntaxBadge
                            badgeProps={{text: "Since", size: 'medium'}}
                            entries={[{text: Array.isArray(documentation.since) ? documentation.since.join(", ") : documentation.since}]}
                    />
            )}
            <slot name="badges" />
        </div>
        <div class="col">
            <slot name="right-column" />
            {documentation.examples.length > 0 && (
                    <CodeCard title="Usage Examples" code={documentation.examples.filter(example => example.trim().length !== 0)}/>
            )}
        </div>
    </div>
    <footer class="row">
        {documentation.origin.class && (
                <a href=`${repositorySources.get(documentation.origin.name)}/${documentation.origin.class.replaceAll('.', '/')}.java`
                   target="_blank"
                   class="footer-link"
                >
                    <Icon name="external"/> View on GitHub
                </a>
        )}
    </footer>
</section>

<style>
    :global(.cb) {
        --sl-color-bg-badge: var(--custom-badge-dark);
        --sl-color-border-badge: var(--custom-badge-light);
    }
    :global([data-theme='light'] .cb) {
        --sl-color-bg-badge: var(--custom-badge-light);
        --sl-color-border-badge: var(--custom-badge-light);
    }
    :global(.sb) {
        --sl-color-bg-badge: var(--sl-color-gray-5);
        --sl-color-border-badge: var(--sl-color-gray-4);
    }
    :global([data-theme='light'] .sb) {
        --sl-color-bg-badge: var(--sl-color-gray-3);
        --sl-color-border-badge: var(--sl-color-gray-4);
    }

    .documentation-card {
        margin: 0 0 2.5rem 0;
        padding: 1rem;
        line-height: 1.5rem;

        border-radius: 0.5rem;
        background-color: var(--sl-color-bg-nav);
        border-left: var(--custom-badge-light) 0.5em solid;
    }
    .row {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        gap: 0 2%;
    }
    .row + .row {
        margin-top: 0.5rem;
    }
    .col {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0;
        padding: 0;
        max-width: 49%;
    }
    hr {
        display: block;
        margin-bottom: 1rem;
        height: 1px;
        border: 0;
        background-color: var(--sl-color-gray-5);
    }
    @media (max-width: 50rem) {
        .documentation-card > .row {
            flex-direction: column;
        }
        .col {
            display: flex;
            flex-direction: column;
            max-width: 100%;
        }
        .col + .col {
            margin-top: 1rem;
        }
    }
    .footer-link {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: center;

        color: var(--sl-color-gray-3);
        text-decoration: none;
    }
    .footer-link:hover {
        color: var(--sl-color-white);
    }
</style>
