---
import { type Function } from '../documentation'
import DocumentationCard from "./DocumentationCard.astro";
import SyntaxBadge from "../SyntaxBadge.astro";
import type {DocumentableCardProps} from "./DocumentableCard.astro";
import {changeSingular} from "../../../utils/utils.ts";

interface Props {
    defaultProps: DocumentableCardProps,
    func: Function,
}

const { defaultProps, func }: Props = Astro.props;
---

<DocumentationCard defaultProps={defaultProps} documentation={func}>
    <Fragment slot="badges">
        {func.returnType && (
                <SyntaxBadge
                        badgeProps={{text: "Return Type", size: 'medium'}}
                        entries={[{text: func.returnType.name, cardRef: func.returnType.id}]}
                />
        )}
    </Fragment>
    <Fragment slot="right-column">
        {func.parameters && (
                <div class="code-card show-all">
                    <span class="title">Function Parameters</span>
                    {Object.values(func.parameters).map(parameter => {
                        let name = changeSingular(parameter.type.name, parameter.plural);
                        let description = "";
                        if (parameter.modifiers) {
                            if (parameter.modifiers.ranged) {
                                description += ` (between ${parameter.modifiers.ranged.min} and ${parameter.modifiers.ranged.max})`;
                            }
                            if (parameter.modifiers.optional) {
                                if (description.length !== 0) {
                                    description += ", ";
                                }
                                description += "optional"
                            }
                        }
                        return (<SyntaxBadge
                                badgeProps={{text: parameter.name, size: 'medium'}}
                                entries={[{text: name, cardRef: parameter.type.id, cardRefText: description}]}
                                useOrganizedDisplay={false}
                        />);
                    })}
                </div>
        )}
    </Fragment>
</DocumentationCard>

<style is:global>
    [data-syntax-type="Function"] {
        /* Frost Blue */
        --custom-badge-light: steelblue;
        --custom-badge-dark: #102A44;
    }
</style>
