---
const addons = [
    "Skript",
    ...Astro.locals.syntaxesData.addons,
];
---

<script>
    import { getParam, setParam } from "../../../utils/utils";

    const expectedAddons = new Set<string>;
    let updateAddonFilter: ((addons: Set<string>) => void) | null = null;

    function handleAddonFilterChange(input: HTMLInputElement) {
        const addon = input.dataset.filterKey!;

        if (input.checked) {
            expectedAddons.add(addon);
        } else {
            expectedAddons.delete(addon);
        }

        setParam('addons', [...expectedAddons].join(","));

        if (updateAddonFilter) {
            updateAddonFilter(expectedAddons);
        }
    }

    function initAddonFilter() {
        const syntaxDisplayManager = (window as any).__syntaxDisplayManager;
        if (!syntaxDisplayManager) {
            setTimeout(initAddonFilter, 100);
            return;
        }

        updateAddonFilter = syntaxDisplayManager.updateAddonFilter!;

        // parse and initialize based on current URL params
        const addonsParam = getParam('addons');
        if (addonsParam) {
            addonsParam.split(",").forEach(addon => expectedAddons.add(addon));
        }

        // setup button functionality, initialize states
        const fieldset = document.getElementById('addon-filter-fieldset')!;
        fieldset.querySelectorAll<HTMLInputElement>('input').forEach((element) => {
            if (expectedAddons.has(element.dataset.filterKey!)) {
                element.checked = true;
            }
            element.addEventListener('change', () => {
                handleAddonFilterChange(element);
            });
        });

        if (expectedAddons.size > 0) {
            updateAddonFilter!(expectedAddons);
        }
    }

    initAddonFilter();
</script>

<fieldset id={`addon-filter-fieldset`} class="checkboxes">
    <legend>Addons</legend>
    {addons.map(addon => (
        <span>
            <label for={`addon-filter-${addon}`}>
                <input
                       type="checkbox"
                       name={addon}
                       id={`addon-filter-${addon}`}
                       data-filter-key={addon}
                />
                {addon}
            </label>
        </span>
    ))}
</fieldset>

<style>
    .checkboxes {
        display: grid;
        grid-template-columns: 1fr;
    }

    label {
        user-select: none;
        cursor: pointer;
    }
</style>
