---
import {getCollection} from "astro:content";

interface Props {
    isMobile?: boolean;
}

const { isMobile } = Astro.props;
const suffix = isMobile ? '-mobile' : '';

const addons = [
    "Skript",
    ...(await getCollection("addonSyntaxes"))
        .map(syntax => (syntax.data as any).source.name)
];
---

<script>
    import { getParam, setParam } from "../../../utils/utils";

    const expectedAddons = new Set<string>;
    let updateAddonFilter: ((addons: Set<string>) => void) | null = null;

    function handleAddonFilterChange(input: HTMLInputElement) {
        const addon = input.dataset.filterKey!;

        if (input.checked) {
            expectedAddons.add(addon);
        } else {
            expectedAddons.delete(addon);
        }

        setParam('addons', [...expectedAddons].join(","));

        if (updateAddonFilter) {
            updateAddonFilter(expectedAddons);
        }
    }

    function syncAddonOptions(regular: HTMLInputElement, mobile: HTMLInputElement) {
        regular.checked = mobile.checked = expectedAddons.has(regular.dataset.filterKey!);
    }

    function setupMirroredInputs() {
        const regular = document.getElementById('addon-filter-fieldset')!;

        regular.querySelectorAll<HTMLInputElement>('input').forEach((regularElement) => {
            const mobileElement = document.getElementById(regularElement.id + '-mobile') as HTMLInputElement;
            if (!mobileElement) {
                return;
            }

            syncAddonOptions(regularElement, mobileElement);

            regularElement.addEventListener('change', () => {
                mobileElement.checked = (regularElement).checked;
                handleAddonFilterChange(regularElement);
            });

            mobileElement.addEventListener('change', () => {
                (regularElement).checked = mobileElement.checked;
                handleAddonFilterChange(regularElement);
            });
        });
    }

    function initAddonFilter() {
        const syntaxDisplayManager = (window as any).__syntaxDisplayManager;
        if (!syntaxDisplayManager) {
            setTimeout(initAddonFilter, 100);
            return;
        }

        updateAddonFilter = syntaxDisplayManager.updateAddonFilter!;

        const addonsParam = getParam('addons');
        if (addonsParam) {
            addonsParam.split(",").forEach(addon => expectedAddons.add(addon));
        }

        setupMirroredInputs();

        updateAddonFilter!(expectedAddons)
    }

    initAddonFilter();
</script>

<fieldset id={`addon-filter-fieldset${suffix}`} class="checkboxes">
    <legend>Addons</legend>
    {addons.map(addon => (
        <span>
            <label for={`addon-filter-${addon}${suffix}`}>
                <input
                       type="checkbox"
                       name={addon}
                       id={`addon-filter-${addon}${suffix}`}
                       data-filter-key={addon}
                />
                {addon}
            </label>
        </span>
    ))}
</fieldset>

<style>
    .checkboxes {
        display: grid;
        grid-template-columns: 1fr;
    }

    fieldset {
        border-color: var(--sl-color-hairline);
        border-style: solid;
    }

    fieldset > legend {
        font-size: 1.5rem;
    }

    label {
        user-select: none;
        cursor: pointer;
    }
</style>
