---
import { DocumentableType } from '../documentation'
---

<script>
    import { getParam, setParam } from "../../../utils/utils";

    const expectedTypes = new Set<string>();
    let updateTypeFilter: ((types: Set<string>) => void) | null = null;

    function handleTypeFilterChange(input: HTMLInputElement) {
        const type = input.dataset.filterKey!;
        
        if (input.checked) {
            expectedTypes.add(type);
        } else {
            expectedTypes.delete(type);
        }
        
        setParam('types', [...expectedTypes].join(","));
        
        if (updateTypeFilter) {
            updateTypeFilter(expectedTypes);
        }
    }

    function initTypeFilter() {
        const syntaxDisplayManager = (window as any).__syntaxDisplayManager;
        if (!syntaxDisplayManager) {
            setTimeout(initTypeFilter, 100);
            return;
        }

        updateTypeFilter = syntaxDisplayManager.updateTypeFilter;

        // parse and initialize based on current URL param
        const typesParam = getParam('types');
        if (typesParam) {
            typesParam.split(",").forEach(type => expectedTypes.add(type));
        }

        // setup input change functionality
        document.getElementById('type-filter-fieldset')!.querySelectorAll<HTMLInputElement>('input').forEach((element) => {
            if (expectedTypes.has(element.dataset.filterKey!)) { // set default state
                element.checked = true;
            }
            element.addEventListener('change', () => {
                handleTypeFilterChange(element);
            });
        });

        if (expectedTypes.size > 0) {
            updateTypeFilter!(expectedTypes);
        }
    }

    initTypeFilter();
</script>

<fieldset id={`type-filter-fieldset`} class="checkboxes">
    <legend>Type</legend>
    {Object.values(DocumentableType).map(type => (
        <span>
           <label for={`type-filter-${type}`}>
               <input 
                   type="checkbox" 
                   name={type} 
                   id={`type-filter-${type}`}
                   data-filter-key={type}
               />
               {type}
           </label>
        </span>
    ))}
</fieldset>

<style>
    .checkboxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    label {
        user-select: none;
        cursor: pointer;
    }
</style>
