---
import { SyntaxType } from '../../pages/syntaxes.astro'
import rawSyntaxes from "../../assets/syntaxes.json"

interface Props {
    isMobile?: boolean;
}

const { isMobile } = Astro.props;

const response = await fetch('https://api.github.com/repos/SkriptLang/Skript/releases?per_page=100', {
    headers: {
        'Accept': 'application/vnd.github+json',
        'X-GitHub-Api-Version': '2022-11-28',
        'User-Agent': 'SkriptLang',
    },
});

let versions: string[] = [];
if (response.ok) {
    const versionPattern = /.*?(\d+\.\d+(?:\.\d+)?).*/i;
    versions = (await response.json())
        .flatMap((entry: any) => {
            const matches = versionPattern.exec(entry.tag_name);
            if (!matches) {
                return [];
            }
            const name = matches[1];
            return [name];
        });
    // remove duplicates
    versions = [...new Set(versions)];
} else { // fallback
    const currentMinor = parseInt(rawSyntaxes.source.version.split(".")[1]);
    for (let minor = 0; minor <= currentMinor; minor++) {
        versions.unshift(`2.${minor}`);
    }
}
---

<script>
    import type { VersionFilterData} from "./SyntaxDisplayManager.astro";
    import { getParam, setParam } from "../../utils/utils";

    const expectedTypes = new Set<string>();

    function initFilters() {
        // Wait for syntaxDisplayManager to initialize
        const syntaxDisplayManager = (window as any).__syntaxDisplayManager;
        if (!syntaxDisplayManager) {
            setTimeout(initFilters, 100);
            return;
        }

        // we send updated type filter info to the display manager
        const { updateTypeFilter, updateVersionFilter } = syntaxDisplayManager;

        // Type Filter
        function handleTypeInputChange(input: HTMLInputElement) {
            const type = input.dataset.filterKey!;
            if (input.checked) {
                expectedTypes.add(type);
            } else {
                expectedTypes.delete(type);
            }
            setParam('types', [...expectedTypes].join(","));
            updateTypeFilter(expectedTypes);
        }
        // Read from params
        const typesParam = getParam('types');
        if (typesParam) {
            for (const type of typesParam.split(",")) {
                expectedTypes.add(type);
            }
            updateTypeFilter(expectedTypes);
        }
        // Mirror changes between mobile and regular views
        document.getElementById(`type-filter-fieldset-mobile`)!.querySelectorAll('input').forEach(input => {
            input.checked = expectedTypes.has(input.dataset.filterKey!);
            input.addEventListener('change', () => {
                const regularInput = document.getElementById(input.id.slice(0, -7))! as HTMLInputElement;
                regularInput.checked = input.checked;
                handleTypeInputChange(regularInput);
            });
        });
        document.getElementById(`type-filter-fieldset`)!.querySelectorAll('input').forEach(input => {
            input.checked = expectedTypes.has(input.dataset.filterKey!);
            input.addEventListener('change', () => {
                const mobileInput = document.getElementById(input.id + "-mobile") as HTMLInputElement;
                mobileInput.checked = input.checked;
                handleTypeInputChange(input);
            });
        });

        // Version Filter
        let versionData: VersionFilterData = { versions: [], range: 'strict', type: 'any' };
        let rawVersions: string[] = [];
        function handleVersionSelectChange(select: HTMLSelectElement) {
            const key = select.dataset.filterKey!;
            if (key === 'versions') {
                rawVersions = [...select.selectedOptions].map(element => element.value);
                setParam("versions", rawVersions.join(","));
            } else {
                const value = select.selectedOptions[0].value;
                // @ts-ignore
                versionData[key] = value;
                setParam("versions-" + key, (value === 'strict' || value === 'any') ? '' : value);
            }
            updateVersionFilter(versionData, rawVersions);
        }
        // Read from params
        let changed = false;
        const versionsParam = getParam('versions');
        if (versionsParam) {
            rawVersions = versionsParam.split(",");
            changed = true;
        }
        const versionsRangeParam = getParam('versions-range');
        if (versionsRangeParam && (versionsRangeParam === 'above' || versionsRangeParam === 'below')) {
            versionData.range = versionsRangeParam;
            changed = true;
        }
        const versionsTypeParam = getParam('versions-type');
        if (versionsTypeParam && (versionsTypeParam === 'added' || versionsTypeParam === 'changed')) {
            versionData.type = versionsTypeParam;
            changed = true;
        }
        if (changed) {
            updateVersionFilter(versionData, rawVersions);
        }
        function syncVersionParams(select: HTMLSelectElement) {
            for (const option of select.options) {
                const key = option.value;
                if (key === 'above' || key === 'below') {
                    option.selected = key === versionData.range;
                } else if (key === 'added' || key === 'changed') {
                    option.selected = key === versionData.type;
                } else {
                    option.selected = rawVersions.includes(key);
                }
            }
        }
        // Mirror changes between mobile and regular views
        document.getElementById(`version-filter-fieldset-mobile`)!.querySelectorAll('select').forEach(select => {
            syncVersionParams(select);
            select.addEventListener('change', () => {
                const regularSelect = document.getElementById(select.id.slice(0, -7))! as HTMLSelectElement;
                for (let i = 0; i < select.options.length; i++) {
                    regularSelect.options[i].selected = select.options[i].selected;
                }
                handleVersionSelectChange(regularSelect);
            });
        });
        document.getElementById(`version-filter-fieldset`)!.querySelectorAll('select').forEach(select => {
            syncVersionParams(select);
            select.addEventListener('change', () => {
                const mobileSelect = document.getElementById(select.id + "-mobile")! as HTMLSelectElement;
                for (let i = 0; i < select.options.length; i++) {
                    mobileSelect.options[i].selected = select.options[i].selected;
                }
                handleVersionSelectChange(select);
            });
        });
    }

    initFilters();
</script>

<div class="filter-container">
    <h1>Filters</h1>

    <fieldset id=`type-filter-fieldset${isMobile ? '-mobile' : ''}` class="checkboxes">
        <legend>Syntax Type</legend>
        {Object.values(SyntaxType).map(type => (
            <span>
               <label for=`type-filter-${type}${isMobile ? '-mobile' : ''}`>
                   <input type="checkbox" name={type} id=`type-filter-${type}${isMobile ? '-mobile' : ''}` data-filter-key={type}/>
                   {type}
               </label>
            </span>
        ))}
    </fieldset>

    <fieldset id=`version-filter-fieldset${isMobile ? '-mobile' : ''}` class="dropdowns">
        <legend>Syntax Version</legend>
        <label for=`version-filter-version${isMobile ? '-mobile' : ''}`>
            Version
            <select multiple name="version-filter-version" id=`version-filter-version${isMobile ? '-mobile' : ''}` data-filter-key="versions">
                {versions.map(version => (
                    <option value={version}>{version}</option>
                ))}
            </select>
        </label>
        <label for=`version-filter-range${isMobile ? '-mobile' : ''}`>
            Range
            <select name="version-filter-range" id=`version-filter-range${isMobile ? '-mobile' : ''}` data-filter-key="range">
                <option selected value="strict">Strict</option>
                <option value="above">Above</option>
                <option value="below">Below</option>
            </select>
        </label>
        <label for=`version-filter-type${isMobile ? '-mobile' : ''}`>
            Type
            <select name="version-filter-type" id=`version-filter-type${isMobile ? '-mobile' : ''}` data-filter-key="type">
                <option selected value="any">Any</option>
                <option value="added">Added In</option>
                <option value="changed">Changed In</option>
            </select>
        </label>
    </fieldset>
</div>

<style>
    .filter-container {
        padding: 0.5rem;
    }
    fieldset {
        border-color: var(--sl-color-hairline);
        border-style: solid;
    }
    fieldset > legend {
        font-size: 1.5rem;
    }
    label {
        user-select: none;
    }
    select {
        font-size: .9rem;
    }

    .checkboxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .dropdowns > label {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .dropdowns > label:not(:last-of-type) {
        margin-bottom: 0.5rem;
    }
</style>
