---
import { SyntaxType } from '../../pages/syntaxes.astro'

interface Props {
    isMobile?: boolean;
}

const { isMobile } = Astro.props;
---

<script>
    const expectedTypes = new Set<string>();

    function initFilters() {
        // Wait for syntaxDisplayManager to initialize
        const syntaxDisplayManager = (window as any).__syntaxDisplayManager;
        if (!syntaxDisplayManager) {
            setTimeout(initFilters, 100);
            return;
        }

        // we send updated type filter info to the display manager
        const { updateTypeFilter } = syntaxDisplayManager;

        // filter change event listener
        const typeInputFieldsets = [
            document.getElementById(`type-filter-fieldset`)!,
            document.getElementById(`type-filter-mobile-fieldset`)!,
        ];
        typeInputFieldsets.forEach(fieldset => fieldset.querySelectorAll('[type-filter]').forEach(input => {
            input.addEventListener('change', event => {
                const input = event.target as HTMLInputElement;

                const type = input.getAttribute('type-filter')!;
                if (input.checked) {
                    expectedTypes.add(type);
                } else {
                    expectedTypes.delete(type);
                }

                updateTypeFilter(expectedTypes);
            });
        }));
    }

    initFilters();
</script>

<div class="filter-container">
    <h1>Filters</h1>

    <fieldset id=`type-filter-${isMobile ? 'mobile-' : ''}fieldset` class="row">
        <legend>Syntax Type</legend>
        {Object.values(SyntaxType).map(type => (
            <span>
               <label for=`type-filter-${isMobile ? 'mobile-' : ''}${type}` class="checkbox">
                   <input type="checkbox" name={type} id=`type-filter-${isMobile ? 'mobile-' : ''}${type}` type-filter={type}/>
                   {type}
               </label>
            </span>
        ))}
    </fieldset>
</div>

<style>
    .filter-container {
        padding: 0.5rem;
    }
    fieldset {
        border-color: var(--sl-color-hairline);
        border-style: solid;
    }
    fieldset > legend {
        font-size: 1.5em;
    }
    label {
        user-select: none;
    }
    .row {
        display: block;
        column-count: 2;
        column-fill: balance;
    }
    .checkbox {
        white-space: nowrap;
        margin-right: 50%;
    }
</style>
