---
import { Badge, Icon } from '@astrojs/starlight/components';
import { type ComponentProps } from 'astro/types';

interface Props {
    badgeProps: ComponentProps<typeof Badge>,
    entries: {
        text: string,
        cardRef?: string,
        cardRefText?: string,
    }[],
    description?: string,
    useOrganizedDisplay?: boolean,
}

const { badgeProps, entries, description, useOrganizedDisplay = true }: Props = Astro.props;
---

<span class=`prefix-badge ${useOrganizedDisplay ? 'entry-grid-display' : ''}` title={description}>
    <Badge {...badgeProps} class="cb"/>
    {entries.map(({ text, cardRef, cardRefText }, index) =>
            <>
                {!cardRef && text}
                {cardRef && !cardRefText && (
                        <p>
                            <a href=`#${cardRef}`>{text}</a>
                            {index != entries.length - 1 && ', '}
                        </p>
                )}
                {cardRef && cardRefText && (
                        <p class="card-ref">
                            <a href=`#${cardRef}`>{text}</a>
                        </p>
                        <p class="card-ref-text">
                            {cardRefText}
                        </p>
                )}
            </>
    )}
</span>

<style>
    p {
        display: inline-flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .prefix-badge span, .entry-grid-display p:not(:last-child) {
        margin-right: 0.25rem;
    }
    .entry-grid-display:has(.card-ref) {
        display: grid;
        grid-template-columns: fit-content(100%) auto;
        grid-gap: 0 0.5rem;
        align-items: start;
        span {
            grid-column: span 2;
            justify-self: start;
        }
    }
    .card-ref {
        grid-column: 1;
    }
    .card-ref-text {
        grid-column: 2;
    }
</style>
