---
import { Badge } from '@astrojs/starlight/components';
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro';
import { type Syntax } from '../../pages/syntaxes/[...id].astro'
import CodeCard from "../CodeCard.astro";
import SyntaxBadge from "./SyntaxBadge.astro";

interface Props {
    syntax: Syntax,
    isNew?: boolean;
}

const { syntax, isNew }: Props = Astro.props;
---

<section id=`card-${syntax.id}` class=`syntax-card ${syntax.type.toString().toLowerCase()}`
    data-syntax-type={syntax.type} data-syntax-id={syntax.id} data-syntax-name={syntax.name}
    data-syntax-since={syntax.since} data-syntax-keywords={syntax.keywords}
    data-syntax-returns={syntax.returns?.name}
>
    <div class="col">
        <AnchorHeading level='3' id={syntax.id}>
            {syntax.name + " "}
            <Badge class="cb" size='large' text={syntax.type}/>
            {syntax.addon && (
                <Badge variant="caution" size='large' text={syntax.addon}/>
            )}
        </AnchorHeading>
        <div class="row">
            {isNew && (
                <Badge variant="success" size='medium' text="New"/>
            )}
            {syntax.deprecated && (
                <Badge variant="danger" size='medium' text="Deprecated"/>
            )}
            {syntax.requirements && (
                <Badge class="sb" size='medium' text={"Requires " + syntax.requirements.join(", ")}/>
            )}
        </div>
        {syntax.description && syntax.description.map(line => (
            <p set:html={line}></p>
        ))}
        <hr>
        {syntax.since && (
            <SyntaxBadge
                badgeProps={{text: "Since", size: 'medium'}}
                entries={[{text: Array.isArray(syntax.since) ? syntax.since.join(", ") : syntax.since}]}
            />
        )}
        {syntax.returns && (
            <SyntaxBadge
                badgeProps={{text: "Return Type", size: 'medium'}}
                entries={[{text: syntax.returns.name, cardRef: syntax.returns.id}]}
            />
        )}
        {syntax.events && (
            <SyntaxBadge
                badgeProps={{text: "Applicable Events", size: 'medium'}}
                entries={syntax.events.map(event => ({text: event.name, cardRef: event.id}))}
            />
        )}
    </div>
    <div class="col">
        {syntax.patterns && (
            <CodeCard title="Syntax Patterns" wrap={true} code={syntax.patterns.filter(pattern => pattern.trim().length !== 0)}/>
        )}
        {syntax.examples && (
            <CodeCard title="Usage Examples" code={syntax.examples.filter(example => example.trim().length !== 0)}/>
        )}
    </div>
</section>

<style>
    :global(.cb) {
        --sl-color-bg-badge: var(--custom-badge-dark);
        --sl-color-border-badge: var(--custom-badge-light);
    }
    :global([data-theme='light'] .cb) {
        --sl-color-bg-badge: var(--custom-badge-light);
        --sl-color-border-badge: var(--custom-badge-light);
    }
    :global(.sb) {
        --sl-color-bg-badge: var(--sl-color-gray-5);
        --sl-color-border-badge: var(--sl-color-gray-4);
    }
    :global([data-theme='light'] .sb) {
        --sl-color-bg-badge: var(--sl-color-gray-3);
        --sl-color-border-badge: var(--sl-color-gray-4);
    }

    .syntax-card {
        display: flex;
        flex-direction: row;
        gap: 0 2%;
        margin: 0 0 2.5rem 0;
        padding: 1rem;
        line-height: 1.5rem;

        border-radius: 0.5rem;
        background-color: var(--sl-color-bg-nav);
        border-left: var(--custom-badge-light) 0.5em solid;
    }
    .row {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        gap: 0 2%;
    }
    .row:has(*) {
        margin-top: 0.5rem;
    }
    .col {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0;
        padding: 0;
        max-width: 49%;
    }
    hr {
        display: block;
        margin-bottom: 1rem;
        height: 1px;
        border: 0;
        background-color: var(--sl-color-gray-5);
    }
    @media (max-width: 50rem) {
        .syntax-card {
            flex-direction: column;
        }
        .col {
            display: flex;
            flex-direction: column;
            max-width: 100%;
        }
        .col:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }

    .type {
        --custom-badge-light: #1952cd;
        --custom-badge-dark: #042e88;
    }
    .structure {
        --custom-badge-light: #ea9f29;
        --custom-badge-dark: #653f03;
    }
    .section {
        --custom-badge-light: #7eef3c;
        --custom-badge-dark: #2f7a04;
    }
    .effect {
        --custom-badge-light: #a6d333;
        --custom-badge-dark: #435c03;
    }
    .condition {
        --custom-badge-light: #a424dd;
        --custom-badge-dark: #4a036a;
    }
    .expression {
        --custom-badge-light: #34a579;
        --custom-badge-dark: #01472c;
    }
    .function {
        --custom-badge-light: #e6882e;
        --custom-badge-dark: #8c4703;
    }
    .event {
        --custom-badge-light: #1cc3df;
        --custom-badge-dark: #034b57;
    }
</style>
