---
import { Badge, Icon } from '@astrojs/starlight/components';
import { type ComponentProps } from 'astro/types';

interface Props {
    badgeProps: ComponentProps<typeof Badge>,
    entries: {
        text: string,
        cardRef?: string,
        cardRefText?: string,
    }[],
    wrap?: boolean,
    description?: string,
}

const { badgeProps, entries, wrap, description }: Props = Astro.props;
---

<span class="prefix-badge" title={description}>
    <Badge {...badgeProps} class="cb"/>
    {entries.map(({ text, cardRef, cardRefText }, index) =>
            <>
                {cardRef ? (
                    <p data-wrap={wrap}>
                        <a href=`#${cardRef}`>{text}</a>
                        {cardRefText}
                        {!wrap && index != entries.length - 1 && ', '}
                    </p>
                ) : text}
            </>
    )}
</span>

<style>
    .prefix-badge:not(:last-of-type) {
        margin-bottom: 0.75em;
    }
    p {
        padding: 0;
        margin: 0;
    }
    p:not(:last-child) {
        margin-right: 0.25rem;
    }
    p:not([data-wrap="true"]) {
        display: inline-flex;
        align-items: center;
    }
    p[data-wrap="true"] {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>
