---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Icon } from '@astrojs/starlight/components'
import SyntaxCard from "../components/syntaxes/SyntaxCard.astro";
import SyntaxDisplayManager from "../components/syntaxes/SyntaxDisplayManager.astro";
import rawSyntaxes from "../assets/syntaxes.json"

export interface Syntax {
    type: SyntaxType,
    id: string,
    name: string,
    patterns?: string[],
    description?: string[],
    examples?: string[],
    since: string[],
    deprecated: boolean,
    requirements?: string[],
    keywords?: string[],

    returns?: {
        id: string,
        name: string,
    },

    events?: {
        id: string,
        name: string,
    }[],
}

export enum SyntaxType {
    TYPE = "Type",
    STRUCTURE = "Structure",
    SECTION = "Section",
    EFFECT = "Effect",
    CONDITION = "Condition",
    EXPRESSION = "Expression",

    FUNCTION = "Function",

    EVENT = "Event",
}

function processRawEntries(entries: any, type: SyntaxType, prefix: string | undefined = undefined) : any {
    return [...entries].map(entry => {
        entry.type = type;
        if (prefix && !(entry.id as String).startsWith(prefix)) {
            entry.id = prefix + entry.id;
        }
        return entry;
    })
}

const syntaxes: Syntax[] = [
    ...processRawEntries(rawSyntaxes.types, SyntaxType.TYPE),
    ...processRawEntries(rawSyntaxes.structures, SyntaxType.STRUCTURE),
    ...processRawEntries(rawSyntaxes.sections, SyntaxType.SECTION),
    ...processRawEntries(rawSyntaxes.effects, SyntaxType.EFFECT),
    ...processRawEntries(rawSyntaxes.conditions, SyntaxType.CONDITION),
    ...processRawEntries(rawSyntaxes.expressions, SyntaxType.EXPRESSION),

    ...processRawEntries(rawSyntaxes.functions, SyntaxType.FUNCTION, "Func"),

    ...processRawEntries(rawSyntaxes.events, SyntaxType.EVENT),

].toSorted((x, y) => x.name.localeCompare(y.name)) as Syntax[]

---

<StarlightPage
        frontmatter={{ title: `Syntaxes for Skript ${rawSyntaxes.source.version}`, tableOfContents: true, pagefind: false}}
        sidebar={syntaxes.map(syntax => ({ label: `${syntax.name}`, link: `syntaxes/#${syntax.id}`, attrs: { id: `sidebar-${syntax.id}` } }))}
>
    <h1 id="syntaxes-no-results" style="display: none;">No results were found.</h1>
    <div id="syntaxes-wrapper">
        <div id="syntaxes-viewport">
            {syntaxes.map(syntax => (
                <SyntaxCard syntax={syntax}/>
            ))}
        </div>
    </div>

    <dialog id="syntaxes-card-dialog">
        <span id="syntaxes-card-dialog-title">
            <Icon name="close" size='1.5rem'/>
        </span>
        <div id="syntaxes-card-dialog-frame">

        </div>
    </dialog>

    <SyntaxDisplayManager />
</StarlightPage>

<style>
    #syntaxes-wrapper {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #syntaxes-viewport {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }

    dialog {
        margin: 0;
        padding: 1rem;
        background-color: var(--sl-color-black);
        border: 1px solid var(--sl-color-gray-5);
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        box-shadow: var(--sl-shadow-lg);
    }
    dialog::backdrop {
        background-color: var(--sl-color-backdrop-overlay);
        -webkit-backdrop-filter: blur(0.25rem);
        backdrop-filter: blur(0.25rem);
    }
    #syntaxes-card-dialog-title {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-bottom: 0.5rem;
    }
    #syntaxes-card-dialog-title > * {
        cursor: pointer;
    }
    @media (min-width: 50rem) {
        dialog {
            margin: 4rem auto auto;
            border-radius: 1rem;
            width: 90%;
            max-width: 75vw;
            height: max-content;
            min-height: 15rem;
            max-height: calc(100% - 8rem);
        }
    }
</style>
