---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import SyntaxCard from "../components/syntaxes/SyntaxCard.astro";
import SyntaxDisplayManager from "../components/syntaxes/SyntaxDisplayManager.astro";
import rawSyntaxes from "../assets/syntaxes.json"

export interface Syntax {
    type: SyntaxType,
    id: string,
    name: string,
    patterns: string[],
    description: string[],
    examples: string[],
    since: string[],
}

export enum SyntaxType {
    TYPE = "Type",
    STRUCTURE = "Structure",
    SECTION = "Section",
    EFFECT = "Effect",
    CONDITION = "Condition",
    EXPRESSION = "Expression",

    FUNCTION = "Function",

    EVENT = "Event",
}

function processRawEntries(entries: any, type: SyntaxType, prefix: string | undefined = undefined) : any {
    return [...entries].map(entry => {
        entry.type = type;
        if (prefix && !(entry.id as String).startsWith(prefix)) {
            entry.id = prefix + entry.id;
        }
        return entry;
    })
}

const syntaxes: Syntax[] = [
    ...processRawEntries(rawSyntaxes.types, SyntaxType.TYPE, "Type"),
    ...processRawEntries(rawSyntaxes.structures, SyntaxType.STRUCTURE),
    ...processRawEntries(rawSyntaxes.sections, SyntaxType.SECTION),
    ...processRawEntries(rawSyntaxes.effects, SyntaxType.EFFECT),
    ...processRawEntries(rawSyntaxes.conditions, SyntaxType.CONDITION),
    ...processRawEntries(rawSyntaxes.expressions, SyntaxType.EXPRESSION),

    ...processRawEntries(rawSyntaxes.functions, SyntaxType.FUNCTION, "Func"),

    ...processRawEntries(rawSyntaxes.events, SyntaxType.EVENT),

].toSorted((x, y) => x.name.localeCompare(y.name)) as Syntax[]

---

<StarlightPage
        frontmatter={{ title: `Syntaxes for Skript ${rawSyntaxes.source.version}`, tableOfContents: true, pagefind: false}}
        sidebar={syntaxes.map(syntax => ({ label: `${syntax.name}`, link: `syntaxes/#${syntax.id}`, attrs: { id: `sidebar-${syntax.id}` } }))}
>
    <div id="syntaxes-wrapper">
        <div id="syntaxes-viewport">
            {syntaxes.map(syntax => (
                <SyntaxCard syntax={syntax} />
            ))}
        </div>
    </div>

    <SyntaxDisplayManager />
</StarlightPage>

<style>
    #syntaxes-wrapper {
        position: relative;
        width: 100%;
    }

    #syntaxes-viewport {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
</style>
